/* #242a36 */

.messenger-wrapper {
  /* !изменить */
  height: 720px;
  background-color: #242a36;
}

.messenger {
  display: flex;
  align-items: center;
  height: 100%;
}

.messenger-error {
  color: red;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.messenger-error span {
  cursor: pointer;
  color: green;
}

.messenger-main {
  height: 100%;
}

.messenger-content {
  height: 100%;
  display: flex;
}

.messenger-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
