.sidebar-wrapper {
  width: 20vw;
  background-color: black;
  height: 100%;
}

.sidebar-content {
  color: #6b6e75;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.sidebar-list__item {
  user-select: none;
  position: relative;
  width: calc(10vw);
  height: calc(8vh);
  border-radius: calc(1.2vw);
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 15px 15px;
}

.sidebar-list__item:hover {
  background-color: #f3fc8b;
}

.item-icon {
  position: absolute;
  left: 15px;
  margin-right: 10px;
}

.item-title {
  position: absolute;
  left: 45px;
  font-size: calc(1vw);
}
